CompileFlags:
  Add:
    - -I/home/amirs/code-libs/olcPixelGameEngine
    - -I/home/amirs/code-libs/magic_enum/include
    - -lX11
    - -lGL
    - -lpthread
    - -lpng 
    - -lstdc++fs
    - -std=c++17
    - -Wall -Wextra
    - -Wno-unknown-pragmas -Wno-unused-parameter -Wno-sign-compare -Wno-unused-but-set-variable
  Compiler: clangd++
